{% extends "chat/base.html" %}

{% block content %}
<h3>Your Chat With {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<div id='chat-items' class="chat">
{% for chat in object.chatmessage_set.all %}
      {% if chat.user == user %}
        <div class="friend">
          <div class="message">
          		<p>{{ chat.message }} from {{ chat.user }}</p>
          </div>
         </div>
      {% else %}
       <div class="me">
          <div class="message">
          		<p>{{ chat.message }} from {{ chat.user }}</p>
          </div>
         </div>
       {% endif %}

{% endfor %}
</div>

	<form id='form' method='POST'> {% csrf_token %}
		
	{{form.as_p }}
		<input type='submit' class='btn btn-primary chat-btn'/>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
// websocket scripts
console.log(window.location)
var loc = window.location
var formData = $('#form')
var msgInput = $('#id_message')
var chatHolder = $('#chat-items')
var wsStart = 'ws://'


if (loc.protocol == 'https:'){
	wsStart ='wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
var socket = new ReconnectingWebSocket(endpoint)

socket.onmessage = function(e){
	console.log('message', e)
	var chatData = JSON.parse(e.data)
	// document.querySelector('#id_message').value += (chatData.message + '\n');
	chatHolder.append('<div class="met">' + chatData.message + "   from " + chatData.username+ '</div>')
}

socket.onopen = function(e){
	console.log('open', e)
	formData.submit(function(event){
		event.preventDefault()
		var msgText = msgInput.val()
		var finalData = {
			'message': msgText
		}
		socket.send(JSON.stringify(finalData))
		formData[0].reset()
	})
}

socket.onerror = function(e){
	console.log('error', e)
}

socket.onclose = function(e){
	console.log('close', e)
}


</script>
{% endblock %}





